*{
    margin: 0.5rem;
    padding: 0;
}

:root{
    --lilas:#D9CDF7;
    --roxinho: #271A45;
}

body{
        background-color: var(--lilas);
}



header{
    display: flex;
    align-items: center;

    max-width: 449px;
    max-height: 253px;
    margin-inline:auto;
}

.text{
    text-align: center;
    margin-inline: auto;

    height: 142px;
    width: 281px;
    gap: 20px;

    color: var(--roxinho);
}

.text h1{
    font-family: "Crimson Pro", serif; 
    width: 142px;
    font-size: 32px;
    line-height: 32px;
}

.text p{
    font-family: "Lato", sans-serif;
    font-size: 10px;
    line-height: 10px;
}

.text h2{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.text button{
    border-radius: 99px;
    background: none;
}